<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="Index.css" />
        <title>Wishsite - Create an Account</title>
    </head>
    <body>
        <form action="/polls/create/" method="POST">
            {% csrf_token %}
            <h3>Create an Account:</h3>      
                Username:
                <input type="text" name="username" maxlength="20"><br>

                Password:
                <input type="password" name="password" maxlength="20"><br>

                <div class = "buttonSectionForm">
                    <button>Create</button>
                </div>
        </form>

            <script src="Index.js"></script>
        </body>
</html>